<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="productForm">
        <div class="form-group row">
            <label for="product_name" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="product_name" placeholder="Product Name" formControlName="name" [ngClass]="{'is-invalid': submitted && productForm.controls.name.invalid}">
                <div class="invalid-feedback" *ngIf="productForm.controls.name.invalid">
                    Name is required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="product_price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="product_price" placeholder="Price" formControlName="price" [ngClass]="{'is-invalid': submitted && productForm.controls.price.invalid}">
                <div class="invalid-feedback" *ngIf="productForm.controls.price.invalid">
                    Price is required
                </div>
            </div>
        </div>
        <div class="form-group row hidden">
            <label for="product_details" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="product_details" placeholder="description" formControlName="description"></textarea>
            </div>
        </div>
        <div class="form-group row d-none">
            <label for="product_id" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="product_id" placeholder="id">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>